<library path="src">
    <class name="Finger Control Interface" type="rqt_finger_manipulation.rqt_finger_manipulation.RqtPlugin" base_class_type="rqt_gui_py::Plugin">
        <description>Finger Manipulation RQt Plugin</description>
        <qtgui>
            <group>
              <label>Miscellaneous Tools</label>
            </group>
            <label>finger_manipulation</label>
            <icon type="theme">applications-science</icon>
            <statustip>finger_manipulation</statustip>
        </qtgui>
    </class>
</library>